@import "../main.scss";

header {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    color: $text-color;

    @media (max-width: 600px) {
        flex-direction: column;
        gap: 0;
        margin-bottom: 2rem;
    }
}

.title {
    font-size: 7rem;
    font-family: $emoter-font;
    margin-bottom: 1rem;

    @media (max-width: 400px) {
        font-size: 6rem;
        -webkit-text-stroke: 2px $black;
    }
}

.subtitle {
    font-weight: normal;
    font-size: 1.4rem;
    text-align: left;
    margin-top: -10px;

    @media (max-width: 600px) {
        text-align: center;
    }
}
