@import "../main.scss";

header {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    color: $text-color;
    width: min(36rem, 100vw - 1rem);

    @media (max-width: 600px) {
        flex-direction: column;
        gap: 0;
        margin-bottom: 2rem;
    }
}

.title {
    font-family: $emoter-font;
    margin-bottom: 1rem;

    font-size: min(7rem, 20vw);
}

.subtitle {
    font-weight: normal;
    font-size: 1.4rem;
    text-align: left;
    margin-top: -8px;

    @media (max-width: 600px) {
        text-align: center;
    }
}
