@import "../main.scss";

.image-modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000aa;
    z-index: 5;
}

.image-modal {
    width: min(600px, 100vw - 2rem);
    max-height: calc(100dvh - 2rem);
    overflow: scroll;
    background: $background-color;
    position: relative;
    display: flex;
    flex-direction: column;
}

.image-modal-title {
    line-height: 1em;
    margin-bottom: 0.2em;
}

.image-modal-title,
.image-modal-subtitle {
    font-weight: normal;
    color: $text-color;
}

.image-modal-subtitle {
    font-size: 1rem;
}

.image-modal-output {
    margin: auto;
}

.image-modal-output-image {
    width: 128px;
    height: 128px;
    display: block;
}

.image-modal-header {
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 1rem;
}

.image-modal-header-text {
    flex: 1;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem;
    font-size: 1.5rem;
}

.image-modal-close-button {
    padding: 0;
    height: 3rem;
    width: 3rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    padding-bottom: 0.2em;
}

.image-modal-footer {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.image-modal-download-button {
    background: $white;
    padding: 0.5rem 1rem;
    display: inline-block;
    font-size: 1.5rem;
    text-decoration: none !important;
    margin: 1rem;

    &:hover {
        text-decoration: none !important;
    }
}

.image-modal-download-button-wrapper {
    text-align: left;
    flex: 1 0 auto;
}

.feedback-survey {
    text-align: right;
}
